<div class="DROPSHADOW DROPSHADOW1">
	<div class="DROPSHADOW DROPSHADOW2">
		<div class="DROPSHADOW DROPSHADOW3">
			<div class="DROPSHADOW DROPSHADOW4">
				<div class="SECTION MEDIUM_SECTION">
					<div class="SECTION_CONTENT_IMAGE_START SECTION_BODY">
						<div class="main">
							Zgodnie z zapisami Ustawy o zawodzie lekarza osoby (lekarze), które kończą staż podyplomowy muszą zdać Lekarski Egzamin Państwowy (LEP), aby uzyskać prawo wykonywania zawodu lekarza. Jednak od sesji jesiennej 2008 ustawa ta nie nakłada już obowiązku ukończenia stażu przed przystąpieniem do LEP. Z związku z powyższym do egzaminu mogą również przystępować lekarze w trakcie odbywania stażu - istotnym warunkiem przystąpienia do LEP pozostaje jednak posiadanie Ograniczonego prawa wykonywania zawodu lekarza. Dnia 15.05.2008 weszła w życie nowelizacja rozporządzenia Ministra Zdrowia w sprawie stażu podyplomowego lekarza i lekarza dentysty (Dz.U.08.81.486), która w istotny sposób zmieniła tryb przeprowadzania tego egzaminu.
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
