<!doctype html>
<html xmlns:ng="http://angularjs.org/">
<head>
<meta charset="utf-8">
<title>Start</title>
<link rel="stylesheet" href="../css/app.css" />
</head>
<body>


	<div class="DROPSHADOW DROPSHADOW1">
		<div class="DROPSHADOW DROPSHADOW2">
			<div class="DROPSHADOW DROPSHADOW3">
				<div class="DROPSHADOW DROPSHADOW4">
					<div class="SECTION MEDIUM_SECTION">
						<div class="SECTION_CONTENT_IMAGE_START SECTION_BODY">
							<div class="main">								
								<ng:form>
									<fieldset>
										<legend>Wybór egzaminu</legend>

										<table>
											<tr>
												<td>Wybierz sesję:</td>
												<td><select name="sessionId" ng:model="sessionId"
													ng:options="c.id as c.desc for c in sessions.lepSession"
													class="nullable">
												</select></td>
											</tr>
											<tr>
												<td>Wybierz język:</td>
												<td><select ng:model="langId" name="langId"
													ng:disabled="{{true}}">
														<option value="10">Polski</option>
														<option value="20">Angielski</option>
												</select></td>
											</tr>
											<tr>
												<td>Wybierz typ egzaminu:</td>
												<td><select name="lepTypeId"  ng:model="lepTypeId">
														<option value="10">LEP</option>
														<option value="20">DLEP</option>
												</select></td>
											</tr>
											<tr ng:show="lepTypeId == 10">
												<td>Wybierz poddział:</td>
												<td><select ng:model="sectionId">
														<option value="10">Wszystkie</option>
														<option value="20">Ginekologia</option>
														<option value="30">Interna</option>
												</select></td>
											</tr>
											<tr>
												<td></td>
												<td> 
													<button ng:click="startExam()" 
													ng:disabled="{{!isUserAuth}}">Uruchom</button></td>
											</tr>
														

										</table>
									</fieldset>
								</ng:form>
								
								<pre></pre>
								<br />
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>




	</fieldset>
</body>
</html>
