<!doctype html>
<html xmlns:ng="http://angularjs.org/">
<head>
<meta charset="utf-8">
<title>Start</title>
</head>
<body>


	<ul class="nav nav-tabs">
		<li class="active"><a href="#v1" data-toggle="tab">Wariant#1</a></li>
		<li><a href="#v2" data-toggle="tab">Wariant#2</a></li>
	</ul>

	<div id="myTabContent" class="tab-content">
		<div class="tab-pane fade in active" id="v1">
			<table>
				<tr>
					<td>Wybierz sesję:</td>
					<td><select name="sessionId" ng:model="sessionId"
						ng:options="c.id as c.desc for c in sessions.lepSession"
						class="nullable">
					</select></td>
				</tr>
				<tr>
					<td>Wybierz język:</td>
					<td><select ng:model="langId" name="langId"
						ng:disabled="true">
							<option value="10">Polski</option>
							<option value="20">Angielski</option>
					</select></td>
				</tr>
				<tr>
					<td>Wybierz typ egzaminu:</td>
					<td><select name="lepTypeId" ng:model="lepTypeId"
						ng:disabled="true">
							<option value="10">LEP</option>
							<option value="20">LDEP</option>
					</select></td>
				</tr>
				<tr ng:show="lepTypeId == 10">
					<td>Wybierz poddział:</td>
					<td><select ng:model="sectionId" name="sectionId">
							<option value="1">Wszystkie</option>
							<option value="10">Choroby wew</option>
							<option value="20">Pediatria</option>
							<option value="30">Chirurgia</option>
							<option value="40">Ginekologia i położnictwo</option>
							<option value="50">Medycyna rodzinna</option>
							<option value="60">Psychiatria</option>
							<option value="70">Chirurgia</option>
					</select></td>
				</tr>
				<tr>
					<td></td>
					<td>


						<button class="btn btn-primary" ng:click="startExam()"
							ng-disabled="!isUserAuth">Uruchom</button>
					</td>
				</tr>


			</table>
		</div>
		<div class="tab-pane fade" id="v2">
			<span>In da progress ...</span>

			<div style="width: 400 px">

				<div class="accordion" id="accordion2">
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse"
								data-parent="#accordion2" href="#collapseOne"> Opcje </a>
						</div>
						<div id="collapseOne" class="accordion-body collapse in">
							<div class="accordion-inner">
								<label class="checkbox" for="shuffle"> <input
									type="checkbox" id="shuffle" ng:model="schuffle" /> losowa
									kolejność pytań ?
								</label>

							</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse"
								data-parent="#accordion2" href="#collapseTwo"> Wybierz
								egzaminy </a>
						</div>
						<div id="collapseTwo" class="accordion-body collapse in">
							<div class="accordion-inner">
								<div ng:repeat="item in sessions.lepSession">

									<label class="checkbox"> <input type="checkbox"
										checked="checked">Egzamin {{item.desc}}
									</label>

								</div>
							</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse"
								data-parent="#accordion2" href="#collapseThree"> 
								Wybierz poddziały </a>
						</div>
						<div id="collapseThree" class="accordion-body collapse in">
							<div class="accordion-inner">
								<div ng:repeat="(id, desc) in lepSections">

									<label class="checkbox"> 
										<input type="checkbox" checked="checked">{{desc}}
									</label>
								</div>

							</div>
						</div>
					</div>
				</div>
					<button class="btn btn-primary" ng:click="startExam()"
							ng-disabled="!isUserAuth">Uruchom</button>
				
			</div>

		</div>

	</div>

	<hr>

	</ng:form>

	<br />

</body>
</html>
