<!doctype html>
<html xmlns:ng="http://angularjs.org/">
<head>
<meta charset="utf-8">
<title>Start</title>
<link rel="stylesheet" href="../css/app.css" />
</head>
<body>



	<div class="DROPSHADOW DROPSHADOW1">
		<div class="DROPSHADOW DROPSHADOW2">
			<div class="DROPSHADOW DROPSHADOW3">
				<div class="DROPSHADOW DROPSHADOW4">
					<div class="SECTION MEDIUM_SECTION">
						<div class="SECTION_CONTENT_IMAGE_START SECTION_BODY">
							<div class="main">
								<ng:form>
									<div id="tabs" lep:tabs>
										<ul>
											<li><a href="#tabs-1">Wariant 1</a></li>
											<li><a href="#tabs-2">Wariant 2</a></li>

										</ul>
										<div id="tabs-1">
											<fieldset>
												<legend>Wybór egzaminu</legend>

												<table>
													<tr>
														<td>Wybierz sesję:</td>
														<td><select name="sessionId" ng:model="sessionId"
															ng:options="c.id as c.desc for c in sessions.lepSession"
															class="nullable">
														</select></td>
													</tr>
													<tr>
														<td>Wybierz język:</td>
														<td><select ng:model="langId" name="langId"
															ng:disabled="{{true}}">
																<option value="10">Polski</option>
																<option value="20">Angielski</option>
														</select></td>
													</tr>
													<tr>
														<td>Wybierz typ egzaminu:</td>
														<td><select name="lepTypeId" ng:model="lepTypeId"
															ng:disabled="{{true}}">
																<option value="10">LEP</option>
																<option value="20">LDEP</option>
														</select></td>
													</tr>
													<tr ng:show="lepTypeId == 10">
														<td>Wybierz poddział:</td>
														<td><select ng:model="sectionId"
															ng:disabled="{{true}}">
																<option value="1">Wszystkie</option>
																<option value="10">Choroby wew</option>
																<option value="20">Pediatria</option>
																<option value="20">Chirurgia</option>
																<option value="20">Ginekologia i położnictwo</option>
																<option value="20">Medycyna rodzinna</option>
																<option value="20">Psychiatria</option>
																<option value="20">Chirurgia</option>
														</select></td>
													</tr>
													<tr>
														<td></td>
														<td>
															<button lep:button ng:click="startExam()"
																ng:disabled="{{!isUserAuth}}">Uruchom</button>
														</td>
													</tr>


												</table>
											</fieldset>
										</div>
										<div id="tabs-2">
											<span>In da progress ...</span>
											
											<ib:boxHeader headerText="Opcje"></ib:boxHeader>
												<div ib:boxContent>
													<input type="checkbox" id="shuffle" ng:model="schuffle" /><label for="shuffle">Przetasuj pyania</label>
													<select ng:model="lepTypeId"
															ng:options="label for (key , value) in lepTypes" class="nullable">
													</select>
													
												</div>

											<ib:boxHeader headerText="Wybierz egzamin"></ib:boxHeader>
											<div ib:boxContent>
														<div ng:repeat="item in sessions.lepSession">
															<input type="checkbox" id="idCheck{{$index}}" checked="checked" /><label for="idCheck{{$index}}">Egzamin {{item.desc}}</label> 
														</div>			
																											
												</div>
												
												<ib:boxHeader headerText="Wybierz poddziały"></ib:boxHeader>
												<div ib:boxContent>
												
														<div ng:repeat="(id, desc) in lepSections">
															<input type="checkbox" id="idSection{{id}}" /><label for="idSection{{id}}">{{desc}}</label> 
														</div>	
														
												</div>
												
											</div>
										</div>

									</div>


								</ng:form>

								<br />
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>





</body>
</html>
