
<div class="DROPSHADOW DROPSHADOW1">
	<div class="DROPSHADOW DROPSHADOW2">
		<div class="DROPSHADOW DROPSHADOW3">
			<div class="DROPSHADOW DROPSHADOW4">
				<div class="SECTION MEDIUM_SECTION">
					<div class="SECTION_CONTENT_IMAGE_START SECTION_BODY">
						<div class="main">


							<fieldset>
								<legend>Dane kontaktowe</legend>
								
									<table ng:cloak class="ng-cloak">

										<tr>
											<td>Imie</td>
											<td><input type="text" name="firstName"
												ng:model="contact.firstName" required
												ng:disabled="{{contact.authUser}}" /></td>
										</tr>
										<tr>
											<td>Nazwisko</td>
											<td><input type="text" name="lastName"
												ng:model="contact.lastName" required
												ng:disabled="{{contact.authUser}}" /></td>
										</tr>
										<tr>
											<td>E-mail</td>
											<td><input type="text" name="email"
												ng:model="contact.email" required ng:validate="email"
												ng:disabled="{{contact.authUser}}" /></td>
										</tr>

										<tr>
											<td>Treść</td>
											<td><textarea rows="4" cols="40" name="content"
													ng:model="contact.content" required></textarea></td>
										</tr>
										<tr>
											<td></td>
											<td>
												<button ng:click="send()"
													disabled="{{contactForm.$invalid == true}}">Wyślij</button>
												<button ng:click="clear()">Wyczyść</button>

											</td>
										</tr>
										<tr ng:show="contact.id != undefined && contact.id > 0">
											<td></td>
											<td>
												<div class="success">
													<p class="success">Kontakt został wysłany poprawnie.</p>
												</div>
											</td>
										</tr>

										<tr ng:show="contact.id != undefined && contact.id < 0 ">
											<td></td>
											<td>
												<div class="error">
													<p class="error">Wystąpił błąd: {{errorMsg | json}}</p>
												</div>
											</td>
										</tr>

									</table>									
						
								

							</fieldset>


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
