
<div class="well">


	<h3>JAK NAJWIĘCEJ TRAFNYCH ODPOWIEDZI TO DOBRZE ZDANY LEP – DOBRZE
		ZDANY LEP TO GWARANCJA SUKCESU.</h3>

	<h4>
		<p>Drogi Użytkowniku, przyszły Lekarzu!</p>
	</h4>
	Na tej stronie możesz sprawdzić swój zakres wiedzy z dziedziny nauk
	medycznych. Skorzystaj z aplikacji, dzięki której będziesz miał
	możliwość udzielenia odpowiedzi na tysiące pytań pochodzących z
	Lekarskiego Egzaminu Państwowego z ubiegłych lat. Korzystając z tej
	formy nauki rozpoznasz swoje słabe strony, dowiesz się, czego jeszcze
	nie wiesz, co sprawdzić i czego się douczyć. Im masz więcej czasu na
	uzupełnienie swojej wiedzy, tym lepiej. Dobre przygotowanie pozwoli
	ominąć niepotrzebny stres, dzięki czemu będziesz mógł skupić się na
	egzaminie i uzyskać jak najwyższy wynik.

	<h3>SPRAWDŹ SWOJĄ WIEDZĘ ZANIM BĘDZIE ZA PÓŹNO.</h3>


</div>
